<div>
  <h2>Здравейте, този сайт е front-end имплементация за задачата, чието описание можете да прочетете по-надолу.</h2>
  <section class="task-description">
    <h3>Задача:</h3>
    <p>Да се напише приложение, което приема адрес към която и да е уеб страница, зарежда изходния ѝ код и търси текст по<br>
      зададен от потребител шаблон на регулярен израз, намира чрез регулярни изрази други страници и ги добавя за по-късно<br>
      посещение в стек и с тях прави същото. Намерените текстове да се съхраняват в база данни,<br>
      както и URL адресите на вече посетените и обработени уеб страници. Бонус точки, ако се направи асинхронно и многонишково,<br>
      както и ако се публикува в git с документация за проекта.
    </p>
  </section>
  <section class="project-description">
    <h3>Описание на проекта:</h3>
    <p>Проектът се състои от две основни части - бекенд и фронтенд.<br><br>
      Бекенд частта е написана на .NET9 с Entity Framework Core 9 и MSSQL. Тя отговаря за обработката на HTTP заявки, които изпълняват<br>
      логическата част от описанието на задачата. При получаване на заявка за обработване на URL адрес с предоставен шаблон на<br>
      регулярен израз, бекенд частта извършва HTTP GET заявка към посочения адрес, получава HTML кода на страницата и<br>
      извършва търсене на шаблона в него. Намерените URL адреси във въпросният код се съхраняват като открити резултати(MatchResult)<br>
      в колекцията на "Search" обекта, а самият "Search" обект се съхранява в базата данни.<br>
      По този начин можем да проследим кои URL адреси са били обработвани и какви резултати са намерени в тях.<br><br>

      Фронтенд частта е написана на Angular. Тя служи за изпращане на заявки към бекенда и визуализиране на получените данни.<br>
      Освен визуализацията на получените данни от изпратената заявка, менюто "Search History" позволява на потребителя да види историята<br>
      на предишните си търсения.<br>
    </p>
  </section>
</div>
