.search-history-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

  .search-history-table {
    tr:hover {
      cursor: pointer;
      background-color: #4e4343;
    }
  }
}
